:root{
  font-family:Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  --ui-color: rgb(10, 80, 126);
}

body{
  width:100vw;
  position:relative;
  padding:0px;
  margin:0px;
  background-image: url('images/andrej-lisakov-3A4XZUopCJA-unsplash.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
}

header {
  display:flex;
  padding: 16px 24px 16px 24px;
  position:fixed;
  justify-content: space-between;
  box-sizing: border-box;
  width:100%;
  background:var(--ui-color);
  color:white;
}

header button{
  background-color:gray;
  border-radius:10px;
  color:white;
}

h1{
  font-size: 36px;
}

.book-container{
  padding: 150px 16px 16px 16px;
  display:flex;
  flex-direction: column-reverse;
  justify-content: end;
  min-height: 80vh;
  
}

.modal{
  display:none;
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  justify-content: center;
  align-items: center;
}

.modal-box{
  width:max(20%, 200px);
  height:60vh;
  background-color:white;
  border-radius: 16px;
  padding: 32px;
  display:flex;
  flex-direction: column;
}

.book-slot{
  width:100%;
  box-sizing: border-box;
  height:118px;
  display:flex;
  align-items: center;
  border-bottom: 1px gray dashed;
}

.remove-button{
  margin-left:auto;
  margin-right:18px;
}

.book-slot button{
  height:48px;
  border-radius: 10px;
  background-color:var(--ui-color);
  color:white;
}

.book{
  padding: 8px 0px 8px 32px;
  margin-right:18px;
  border-radius: 2em .5em .5em 2em/ 50% .5em .5em 50%;
  display:grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items:center;
  width:80%;
  position:relative;
  box-sizing: border-box;
  height:100%;
}

.book h2{
  font-size:24px;
  grid-column:1/2;
  grid-row:1/3;
}

.book h3{
  font-size:20px;
  grid-row:1/3;
  grid-column:2/3;
}

.book p{
  font-size:16px;
  grid-row: 2/3;
  grid-column: 1/3;
  align-self:end;
}

.pages-graphic{
  border-radius: 2em 0 0 2em/ 50% 0 0 50%;
  height:100px;
  grid-column: 3/4;
  grid-row: 1/3;
  position: absolute;
  right: 0px;
}

.form-row{
  padding-bottom: 36px;
}

fieldset{
  padding-bottom: 18px;
}

fieldset label{
  font-size:12px;
}

.form-row label{
  display:block;
  font-size:12px;
}

.no-text{
  border: 1px solid red;
}

label[aria-required="true"]::after {
  content: '*';
}

form button{
  background-color:var(--ui-color);
  border-radius: 10px;
  color:white;
  height:48px;
}

.warning{
  display:none;
  padding: 8px 16px;
  border-radius: 10px;
  background-color:rgb(255, 105, 105);
  color:rgb(52, 59, 59);
  margin-top:auto;
}